<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Vecord </title>

        {% load static %}
        <!-- <link rel="icon" href="{% static 'images/favicon.ico' %}"> -->
    
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/styles.js' %}"></script>

    </head>

    <body>
        {% include 'navbar.html' %}

        {% block content %}
        {% endblock %}
        
    </body>

        {% include 'footer.html' %}
</html>